<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FuzzyBubbles-Regular.ttf</string>
		<string>FuzzyBubbles-Bold.ttf</string>
		<string>Lexend-VariableFont_wght.ttf</string>
		<string>ShantellSans-Bold.ttf</string>
	</array>
	<key>USERJOT_PROJECT_ID</key>
	<string>cmljqz2ug06j50hn6yp7jgdzw</string>
</dict>
</plist>
